:root {
  --text: hsl(0, 0%, 15%);
  --text-secondary: #b9b9b9;
  --bg: #0f0f0f;

  --tile-color-1: hsl(81, 65%, 82%);
  --tile-color-1-tint: hsl(81, 65%, 70%);

  --tile-color-2: hsl(328, 71%, 82%);
  --tile-color-2-tint: hsl(328, 71%, 70%);

  --tile-color-3: hsl(7, 82%, 82%);
  --tile-color-3-tint: hsl(7, 82%, 70%);
}
