%page {
  background-color: var(--bg);
  color: var(--text-secondary);
  min-height: 100vh;
  padding: 32px 20%;
}

@media screen and (max-width: 860px) {
  %page {
    padding: 32px 10%;
  }
}

@media screen and (max-width: 560px) {
  %page {
    padding: 32px;
  }
}
