.container {
  position: relative;
  padding: 16px;
  border-radius: 10px;
  color: var(--text);
  width: 100%;
  z-index: 1;
}

.link {
  position: relative;
  text-decoration: none;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.url {
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-bottom: 4px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desc {
  z-index: 2;
  font-size: 0.8rem;
  position: absolute;
  background-color: white;
  color: var(--text);
  top: 70%;
  left: 8px;
  right: 8px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 40px var(--bg);
}
